# Python
__pycache__/
*.py[cod]
.venv/
venv/
.env
*.egg-info/
.mypy_cache/
.pytest_cache/
.ruff_cache/

# Flutter
mobile/.dart_tool/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/.packages
mobile/build/
mobile/.pub-cache/
mobile/.pub/
mobile/**/*.g.dart
mobile/**/*.freezed.dart

# IDE / OS
.idea/
.vscode/
*.iml
.DS_Store
Thumbs.db

# Docker
postgres_data/
